In [1]:
import nltk
# nltk.download('stopwords')
import spacy
# spacy.load("en_core_web_sm")
from pyresparser import ResumeParser
from resume_parser import resumeparse
import os
import docx2txt
import requests
import pandas as pd
from pdfminer.high_level import extract_text

C:\Users\rtd91\anaconda3\lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.2 and is incompatible with the current spaCy version (2.3.2). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [25]:
ResumeParser(r'C:\Users\rtd91\Data\resume_samples\721091408_phonescreening.pdf').get_extracted_data()['name']

'Karthik Ramanarayana'

In [21]:
def extract_text_from_docx(docx_path):
    txt = docx2txt.process(docx_path)
    if txt:
        return txt.replace('\t', ' ')
    return None

def extract_text_from_pdf(pdf_path):
    return extract_text(pdf_path)

directory = r'C:\Users\rtd91\Data\resume_samples'
pdf = []
docs = []
pyresparser = []
resumeparser = []
for filename in os.listdir(directory):
    print(filename)
    data = {}
    if filename.endswith(".docx"):
        path = os.path.join(directory, filename)
        
        data = resumeparse.read_file(path)
        data['text'] = extract_text_from_docx(path)
        
              
        resumeparser.append(data)
        
        data = ResumeParser(path).get_extracted_data()
        data['text'] = extract_text_from_docx(path)
        
        pyresparser.append(data)
        
        
        
    elif filename.endswith(".pdf"):

               
        path = os.path.join(directory, filename)
        
        data = resumeparse.read_file(path)
        data['text'] = extract_text_from_pdf(path)
        
              
        resumeparser.append(data)
        
        data = ResumeParser(path).get_extracted_data()
        data['text'] = extract_text_from_pdf(path)
        
        pyresparser.append(data)

    else:
        continue

721091408_phonescreening.pdf

2022-03-27 02:36:05,327 [MainThread  ] [INFO ]  Retrieving http://search.maven.org/remotecontent?filepath=org/apache/tika/tika-server/1.24/tika-server-1.24.jar to C:\Users\rtd91\AppData\Local\Temp\tika-server.jar.
2022-03-27 02:36:12,699 [MainThread  ] [INFO ]  Retrieving http://search.maven.org/remotecontent?filepath=org/apache/tika/tika-server/1.24/tika-server-1.24.jar.md5 to C:\Users\rtd91\AppData\Local\Temp\tika-server.jar.md5.
2022-03-27 02:36:13,223 [MainThread  ] [WARNI]  Failed to see startup log message; retrying...
C:\Users\rtd91\anaconda3\lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.2). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

821101104_phonescreening.pdf
821101136_phonescreening.pdf
821110120.pdf
821110440_Mythri.pdf
821110445_Qizhe.pdf
821110447_rachan.pdf
821110448_RAGHUVEERA.pdf
821110464_Saida.pdf
821110509_Akash.pdf
821110510_AKSHARA.pdf
821110511_Alexandra.pdf
821110527_.pdf
821110528_Wanting.pdf
821111539_manaswini.pdf
821112919_mohit.pdf
821112928_yechen.pdf

KeyboardInterrupt:

In [83]:
pyres_df = pd.DataFrame(pyresparser)
def parse_degree(x):
    if x is None:
        return ''
    if len(x)>0:
        return x[0]
    else:
        return ''
pyres_df['degree'] = pyres_df['degree'].apply(lambda x: parse_degree(x))
pyres_df

,name,email,mobile_number,skills,college_name,degree,designation,experience,company_names,no_of_pages,total_experience,text
0,Karthik Ramanarayana,karthikr2194@gmail.com,292-1151,"[Communication, Hbase, Statistics, Matrix, Tab...",None,,None,"[Data Intern, Index Analytics LLC, Baltimore, MD]",None,1,0.00,"Karthik Ramanarayana \n2001 Eastern Avenue, Ba..."
1,HARSH PUNDIR,hpundir@umd.edu,240.423.5453,"[Algorithms, Six sigma, Tableau, Big data, Pay...",None,Master of Science in Business Analytics,None,"[SMSA ( VP, Operations), ■ Help with the pla...",None,1,0.00,"HARSH PUNDIR \n3425 Tulane Dr. Hyattsville,..."
2,TX Master,tirth2410@gmail.com,469-370-9437,"[Statistics, Algorithms, Tableau, Statistical ...",None,,None,"[Web Analyst, The University of Texas at Dalla...",None,1,2.83,"TIRTH PATEL \nHolbrook, NY | tirth2410@gmail.c..."
3,Akanksha Bapna,None,None,"[Retail, Health, Strategy, Ibm, Budget, Tablea...",None,"Bachelors in Technology, Chemical Engineering",None,"[The Editorial Board, Head of Logistics, Oct 2...",None,2,3.92,Akanksha Bapna\nabapna.com ● Email ● Personal ...
4,Mythri Partha,mythripartha8@gmail.com,725-7080,"[Health, Numpy, Email, Access, Pandas, Enginee...",None,,None,"[InventXYZ, Data Engineering Intern, Aug. 2015...",None,1,0.75,"Mythri Partha \nHouston, TX | Phone: (281) 725..."
...,...,...,...,...,...,...,...,...,...,...,...,...
177,Columbia University,yd2578@columbia.edu·(319),512-0421,"[Sqlalchemy, Ibm, Workflow, Tableau, P, Nosql,...",None,M.S. in Computer and Information Science,None,[Streaming Data Retrieval System ...,None,1,0.00,yd2578@columbia.edu·(319) 512-0421·www.zoedong...
178,Jersey City,zzhan67@stevens.edu,531-8942,"[Communication, Algorithms, Statistics, Tablea...",None,,None,"[Utegration LLC, Houston, TX, Data Analytics I...",None,1,0.00,"Jersey City, NJ ..."
179,Columbia University,zz2751@columbia.edu,763-4795,"[Health, Statistics, Data analytics, Tableau, ...",None,"Bachelor of Arts, Mathematics (Statistics), Ec...",None,[Project on Covid Social Media Data ...,None,1,0.75,Zhuohan Zhang \n (617) 763-4795 | zz2751@colum...
180,Zixiao Huang,zixiao.huang.74@gmail.com,615-977-2160,"[Algorithms, Statistics, Tableau, Startup, Big...",None,Master of Science in Analytics,None,"[Stealth Mode Startup, Deep Learning Innovatio...",None,1,1.25,Zixiao Huang \n\nzixiao.huang.74@gmail.com | 6...
181,Stream Bank,zwang160@terpmail.umd.edu,216-6448,"[Communication, Strategy, Statistics, Tableau,...",None,,[Investment Manager Assistant],"[FRM designation. CFA level one exam passed., ...",None,1,0.00,Ziyong “Willis” Wang \n(667) 216-6448 ● 5504 S...

In [17]:
resume_df = pd.DataFrame(resumeparser)
def parse_univ(x):
    if len(x)>0:
        return x[0]
    else:
        return ''
resume_df['university'] = resume_df['university'].apply(lambda x: parse_univ(x))
resume_df['degree'] = resume_df['degree'].apply(lambda x: parse_degree(x))
resume_df

KeyError: 'university'

In [4]:
# 
from names_dataset import NameDataset
nd = NameDataset()
nd.search("xxx")

{'first_name': None, 'last_name': None}

In [13]:
if nd.search('abhiram')['first_name'] != None:
    print("Legit name present")
else:
    print("not legit")

Legit name present

In [10]:
nd.search('richard')

{'first_name': {'country': {'Canada': 0.033,
   'Chile': 0.032,
   'Colombia': 0.047,
   'France': 0.084,
   'United Kingdom': 0.261,
   'Nigeria': 0.038,
   'Netherlands': 0.074,
   'Peru': 0.067,
   'United States': 0.306,
   'South Africa': 0.058},
  'gender': {'Female': 0.008, 'Male': 0.992},
  'rank': {'Canada': 26,
   'Chile': 158,
   'Colombia': 271,
   'France': 200,
   'United Kingdom': 13,
   'Nigeria': 127,
   'Netherlands': 18,
   'Peru': 52,
   'United States': 40,
   'South Africa': 76}},
 'last_name': {'country': {'Canada': 0.033,
   'Cameroon': 0.019,
   'France': 0.491,
   'United Kingdom': 0.017,
   'Ghana': 0.054,
   'Italy': 0.016,
   'Malaysia': 0.035,
   'Nigeria': 0.151,
   'United States': 0.122,
   'South Africa': 0.063},
  'gender': {},
  'rank': {'Canada': 171,
   'Cameroon': 179,
   'France': 12,
   'United Kingdom': 2267,
   'Ghana': 34,
   'Italy': 9110,
   'Malaysia': 1022,
   'Nigeria': 158,
   'United States': 751,
   'South Africa': 652}}}

In [16]:
# !pip install names-dataset
from names_dataset import NameDataset
nd = NameDataset()
country_list = ['US','ES','CH','IN']
all_names = []
for country_code in country_list:
    temp = nd.get_top_names(n=10000000, gender=None, country_alpha2=country_code)
    all_names.append(temp[country_code]['M'] + temp[country_code]['F'])

len(all_names)
# k['US']['M'] + k['US']['F']

4

In [ ]:
## WOERKING COCDE DONT EDIt
# import sys
# import textract, PyPDF2, glob
# import nltk
# import pandas as pd
# from names_dataset import NameDataset
# nd = NameDataset()
# # nltk.download('punkt')
# # nltk.download('averaged_perceptron_tagger')
# # nltk.download('maxent_ne_chunker')
# # nltk.download('words')
# # nltk.download('stopwords')
# import os
# #java_path = r"C:\Program Files\Java\jdk-17.0.2\bin\java.exe"
# # os.environ['JAVAHOME'] = java_path
# import re
# import os
# import subprocess
# from pdfminer.high_level import extract_text
# from nltk.corpus import stopwords
# import string
# import nltk
# from nltk.tag.stanford import StanfordNERTagger
# import pdfplumber
# #files = glob.glob(r"C:\Users\rtd91\Data\Resume.pdf")
# PATH_TO_JAR = "C:\\Users\rtd91\Data\stanford-ner.jar"
# PATH_TO_MODEL = "C:\\Users\rtd91\Data\english.all.3class.distsim.crf.ser.gz"
# stopwords = set(stopwords.words('english'))
# files1 = glob.glob(r"C:\Users\rtd91\Data\resume_samples\*")

# tagger = StanfordNERTagger(model_filename=r"C:\Users\rtd91\Data\english.all.3class.distsim.crf.ser.gz",path_to_jar=r"C:\Users\rtd91\Data\stanford-ner.jar", encoding='utf-8')

# us_names = nd.get_top_names(n=1000, gender='Male', country_alpha2='US')['US']['M']
# indian_last_names = ["Acharya", "Agarwal", "Khatri", "Ahuja", "Anand", "Laghari", "Patel",

# "Reddy", "Bakshi", "Anthony", "Babu", "Arya", "Balakrishnan", "Banerjee", "Burman", "Bhatt", "Basu", "Bedi", "Varma", "Dara", "Dalal", "Chowdhury",
# "Chabra", "Chadha", "Chakrabarti","Chawla","Ahluwalia", "Amin", "Apte", "Datta", "Deol", "Deshpande", "Dewan", "Lal", "Kohli", "Mangal", "Malhotra", "Jha",
# "Joshi","Kapadia", "Iyer", "Jain", "Khanna", "Grover", "Kaur", "Kashyap", "Gokhale", "Ghosh", "Garg", "Dhar", "Gandhi", "Ganguly", "Gupta", "Das", "Chopra", "Dhawan",
# "Dixit", "Dubey", "Haldar", "Kapoor", "Khurana", "Kulkarni", "Madan", "Bajwa", "Bhasin", "Chandra", "Chauhan", "Deshmukh", "Dayal", "Dhillon", "Goswami", "Goel", "Mallick",
# "Mahajan", "Kumar", "Mani",  "Gill", "Mannan", "Biswas", "Batra", "Bawa", "Mehta", "Mukherjee", "Saxena", "Zacharia", "Shah", "Ray", "Rao", "Purohit", "Parekh", "Thakur", "Singh", "Sharma", "Seth", "Sachdev", "Ranganathan", "Puri", "Pandey", "Naidu", "Modi"]

# chinese_last_names = ["Li", "Wang", "Zhang", "Liu", "Chen", "Yang", "Zhao", "Huang", "Zhou",

# "Wu", "Xu", "Sun", "Hu", "Zhu", "Gao", "Lin", "He", "Guo", "Ma", "Luo", "Liang",

# "Song", "Zheng", "Xie", "Han", "Tang", "Feng", "Yu", "Dong", "Xiao", "Cheng",

# "Cao", "Yuan", "Deng", "Xu", "Fu", "Shen", "Zeng", "Peng", "Lu", "Su", "Lu", "Jiang", "Cai", "Jia", "Ding", "Wei", "Xue", "Ye", "Yan", 

# "Yu", "Pan", "Du", "Dai", "Xia", "Zhong", "Wang", "Tian", "Ren", "Jiang", "Fan", "Fang", "Shi", "Yao", "Tan", "Sheng", "Zou", "Xiong", "Jin", "Lu", "Hao", "Kong", "Bai", "Cui",

# "Kang", "Mao", "Qio", "Qin", "Jiang", "Shu", "Shi", "Gu", "Hou", "Shao", "Meng", "Long", "Wan", "Duan", "Zhang", "Qian", "Tang", "Yin", "Li", "Yi", "Chang", "Wu", 
    
# "Qiao", "He", "Lao", "Gong", "Wen"]

# chinese_last_names = [chinese_last_name.lower() for chinese_last_name in chinese_last_names]
# indian_last_names = [indian_last_name.lower() for indian_last_name in indian_last_names]
# RESERVED_WORDS = [
#     'school',
#     'college',
#     'univers',
#     'academy',
#     'faculty',
#     'institute',
#     'faculdades',
#     'Schola',
#     'schule',
#     'lise',
#     'lyceum',
#     'lycee',
#     'polytechnic',
#     'kolej',
#     'ünivers',
#     'okul',
#     'University'
# ]

# def tokenize(i, person=[], education=[], graduation_year=[], phone_nbr=[], emails=[]):
#     ###Extract text from files
#     try:
#         with pdfplumber.open(files1[i]) as pdf:
#             first_page = pdf.pages[0]
#             txt1 = first_page.extract_text()
#     except:
#         txt1=""
#         person.append(files1[i])
#         education.append("Err")
#         graduation_year.append(extract_graduation_date("Err"))
#         phone_nbr.append(extract_phone_number("Err"))
#         emails.append(extract_emails("Err"))
#         i+=1
#         tokenize(i)
#     txt = extract_text(files1[i], codec='utf-8')
#     #print(txt)
#     words = nltk.word_tokenize(txt) 
#     return words,i,txt,txt1,person,education,graduation_year,phone_nbr,emails


# def preprocessing(i=0, person=[],education=[],graduation_year=[], phone_nbr=[],emails=[]):
#     ##Here i is for iterating over the files and doing the process for each file
#     flag_success = 1 # Trying to check if try was successful for appending person record
#     words,i,txt,txt1,person,education,graduation_year,phone_nbr,emails = tokenize(i)
#     #print(txt)
#     ##removing stopwords and punctuations
#     simple_strings = [word for word in words if word not in stopwords if word not in string.punctuation]
#     res = [re.sub(r'[^\w\s]', '', word) for word in simple_strings]
#     res1 = [re.sub(r'^abc(.*?)=[A-Z0-9]+(.*)', r'\1\2', word) for word in res]
#     res2 = [str(res) for res in res1]
#     res3 = [re.sub(r'/^[A-Za-z]+$/', '', res) for res in res2]
    
#     ##removing some ascii character
#     res3 = [res.replace("ï","i") if "ï" in res else res for res in res3]
    
#     ##removing numbers
#     res3 = [re.sub('\d', '', res) for res in res3]
    
#     ##trying to remove acii characters
#     res3 = [res.encode('ascii',"ignore").decode() for res in res3]
    
#     ##using the tagger object of StanfordNER for tagging the entities of the words 
#     tagged = tagger.tag(res3)
    
#     ## appending the names extracted from name_person
#     ##Since 2 files are of weird format ( 1 is image file converted into .pdf)
#     try:
#         person.append(name_person(tagged,words,res3))
#     except:
#         flag_success = 0
#         #person.append(files1[i])
#         pass
#     #tagged_list.append(tagged) 
#     #flag_success = 1
#     if flag_success == 1:
#         education.append(extract_education(txt))
#         graduation_year.append(extract_graduation_date(txt1))
#         phone_nbr.append(extract_phone_number(txt))
#         emails.append(extract_emails(txt))
#     else:
#         flag_success == 1
#     if i+1 < 5:
#         i+=1
#         preprocessing(i, person)
    
#     #len(person), len(education), len(graduation_year), len(phone_nbr), len(emails)#
#     return pd.DataFrame({'name':person,'education':education, 'graduation_year':graduation_year, 'Contact':phone_nbr, 'email':emails})

# def name_person(tagged, words,res3):
#     #tagged_list = preprocessing(0,[],[])
#     #print(tagged_list)
#     person = []
#     temp_person = []
    
#     for k in range(10):
#         if (res3[k].lower() in indian_last_names) or (res3[k].lower() in chinese_last_names):
#             j = k-1
#             return res3[j]+" " +res3[k]#+"(Extracted using 1st approach)"
#     for tuple_ele in tagged:
#         if "PERSON" in tuple_ele[1]:
#             temp_person.append(tuple_ele[0])
#     ## loop through the original words so we can extract from the first words and get the first PERSON
#     for word in words:
#         if word in temp_person:
#             return word

# def extract_education(txt):
#     edu=set()
#     p = re.compile('(EDUCATION)?\n?(.*?),\s+(.*?),(.*?)') 
#     for m in re.finditer(p,txt):
#         try:
#             if any(x in m.group(1) for x in RESERVED_WORDS):
#                 edu.append(m.group(1))
#         except:
#             pass
#         for word in RESERVED_WORDS:
#             if word in m.group(2):
#                 edu.add(m.group(2))
#     return edu

# def extract_graduation_date(txt1):
#     dates=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
#     #/^(?=^abc)(?=.*xyz$)(?=.*123)(?=^(?:(?!456).)*$).*$/
#     # Working to extract Months :x="(?=("+'|'.join(dates)+r"))"
#     x="(?is)education.*?(\d{4})"
#     # Working to extract year after education: x="(?is)education.*?(\d{4})"
#     if len(re.findall(x,txt1))==0:
#         return None
#     return max(re.findall(x,txt1))
#     ## for dates
#     #for dt in dates:
#     #    if dt in txt:
#     #        return dt

# def extract_phone_number(txt):
#     PHONE_REG = re.compile(r'[\+\(]?[1-9][0-9 .\-\(\)]{8,}[0-9]')
#     phone = re.findall(PHONE_REG, txt)

#     if phone:
#         number = ''.join(phone[0])

#         if txt.find(number) >= 0 and len(number) < 16:
#             return number
#     return None

# def extract_emails(txt):
#     EMAIL_REG = re.compile(r'[a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+')
#     return re.findall(EMAIL_REG, txt)

# StanfordNER = preprocessing()
# StanfordNER.head()

In [18]:

import sys
import textract, PyPDF2, glob
import nltk
import pandas as pd
from names_dataset import NameDataset
nd = NameDataset()
# nltk.download('punkt')
# nltk.download('averaged_perceptron_tagger')
# nltk.download('maxent_ne_chunker')
# nltk.download('words')
# nltk.download('stopwords')
import os
#java_path = r"C:\Program Files\Java\jdk-17.0.2\bin\java.exe"
# os.environ['JAVAHOME'] = java_path
import re
import os
import subprocess
from pdfminer.high_level import extract_text
from nltk.corpus import stopwords
import string
import nltk
from nltk.tag.stanford import StanfordNERTagger
import pdfplumber
#files = glob.glob(r"C:\Users\rtd91\Data\Resume.pdf")
PATH_TO_JAR = "C:\\Users\rtd91\Data\stanford-ner.jar"
PATH_TO_MODEL = "C:\\Users\rtd91\Data\english.all.3class.distsim.crf.ser.gz"
stopwords = set(stopwords.words('english'))
files1 = glob.glob(r"C:\Users\rtd91\Data\resume_samples\*")

tagger = StanfordNERTagger(model_filename=r"C:\Users\rtd91\Data\english.all.3class.distsim.crf.ser.gz",path_to_jar=r"C:\Users\rtd91\Data\stanford-ner.jar", encoding='utf-8')

us_names = nd.get_top_names(n=1000, gender='Male', country_alpha2='US')['US']['M']
indian_last_names = ["Acharya", "Agarwal", "Khatri", "Ahuja", "Anand", "Laghari", "Patel",

"Reddy", "Bakshi", "Anthony", "Babu", "Arya", "Balakrishnan", "Banerjee", "Burman", "Bhatt", "Basu", "Bedi", "Varma", "Dara", "Dalal", "Chowdhury",
"Chabra", "Chadha", "Chakrabarti","Chawla","Ahluwalia", "Amin", "Apte", "Datta", "Deol", "Deshpande", "Dewan", "Lal", "Kohli", "Mangal", "Malhotra", "Jha",
"Joshi","Kapadia", "Iyer", "Jain", "Khanna", "Grover", "Kaur", "Kashyap", "Gokhale", "Ghosh", "Garg", "Dhar", "Gandhi", "Ganguly", "Gupta", "Das", "Chopra", "Dhawan",
"Dixit", "Dubey", "Haldar", "Kapoor", "Khurana", "Kulkarni", "Madan", "Bajwa", "Bhasin", "Chandra", "Chauhan", "Deshmukh", "Dayal", "Dhillon", "Goswami", "Goel", "Mallick",
"Mahajan", "Kumar", "Mani",  "Gill", "Mannan", "Biswas", "Batra", "Bawa", "Mehta", "Mukherjee", "Saxena", "Zacharia", "Shah", "Ray", "Rao", "Purohit", "Parekh", "Thakur", "Singh", "Sharma", "Seth", "Sachdev", "Ranganathan", "Puri", "Pandey", "Naidu", "Modi"]

chinese_last_names = ["Li", "Wang", "Zhang", "Liu", "Chen", "Yang", "Zhao", "Huang", "Zhou",

"Wu", "Xu", "Sun", "Hu", "Zhu", "Gao", "Lin", "He", "Guo", "Ma", "Luo", "Liang",

"Song", "Zheng", "Xie", "Han", "Tang", "Feng", "Yu", "Dong", "Xiao", "Cheng",

"Cao", "Yuan", "Deng", "Xu", "Fu", "Shen", "Zeng", "Peng", "Lu", "Su", "Lu", "Jiang", "Cai", "Jia", "Ding", "Wei", "Xue", "Ye", "Yan", 

"Yu", "Pan", "Du", "Dai", "Xia", "Zhong", "Wang", "Tian", "Ren", "Jiang", "Fan", "Fang", "Shi", "Yao", "Tan", "Sheng", "Zou", "Xiong", "Jin", "Lu", "Hao", "Kong", "Bai", "Cui",

"Kang", "Mao", "Qio", "Qin", "Jiang", "Shu", "Shi", "Gu", "Hou", "Shao", "Meng", "Long", "Wan", "Duan", "Zhang", "Qian", "Tang", "Yin", "Li", "Yi", "Chang", "Wu", 
    
"Qiao", "He", "Lao", "Gong", "Wen"]

chinese_last_names = [chinese_last_name.lower() for chinese_last_name in chinese_last_names]
indian_last_names = [indian_last_name.lower() for indian_last_name in indian_last_names]
RESERVED_WORDS = [
    'school',
    'college',
    'univers',
    'academy',
    'faculty',
    'institute',
    'faculdades',
    'Schola',
    'schule',
    'lise',
    'lyceum',
    'lycee',
    'polytechnic',
    'kolej',
    'ünivers',
    'okul',
    'University'
]

def tokenize(i, person=[], education=[], graduation_year=[], phone_nbr=[], emails=[]):
    ###Extract text from files
    try:
        with pdfplumber.open(files1[i]) as pdf:
            first_page = pdf.pages[0]
            txt1 = first_page.extract_text()
    except:
        txt1=""
        person.append(files1[i])
        education.append("Err")
        graduation_year.append(extract_graduation_date("Err"))
        phone_nbr.append(extract_phone_number("Err"))
        emails.append(extract_emails("Err"))
        i+=1
        tokenize(i)
    txt = extract_text(files1[i], codec='utf-8')
    #print(txt)
    words = nltk.word_tokenize(txt) 
    return words,i,txt,txt1,person,education,graduation_year,phone_nbr,emails


def preprocessing(i=0, person=[],education=[],graduation_year=[], phone_nbr=[],emails=[]):
    ##Here i is for iterating over the files and doing the process for each file
    flag_success = 1 # Trying to check if try was successful for appending person record
    words,i,txt,txt1,person,education,graduation_year,phone_nbr,emails = tokenize(i)
    #print(txt)
    ##removing stopwords and punctuations
    simple_strings = [word for word in words if word not in stopwords if word not in string.punctuation]
    res = [re.sub(r'[^\w\s]', '', word) for word in simple_strings]
    res1 = [re.sub(r'^abc(.*?)=[A-Z0-9]+(.*)', r'\1\2', word) for word in res]
    res2 = [str(res) for res in res1]
    res3 = [re.sub(r'/^[A-Za-z]+$/', '', res) for res in res2]
    
    ##removing some ascii character
    res3 = [res.replace("ï","i") if "ï" in res else res for res in res3]
    
    ##removing numbers
    res3 = [re.sub('\d', '', res) for res in res3]
    
    ##trying to remove acii characters
    res3 = [res.encode('ascii',"ignore").decode() for res in res3]
    
    ##using the tagger object of StanfordNER for tagging the entities of the words 
    tagged = tagger.tag(res3)
    print("Iteration {}".format(i))
    ## appending the names extracted from name_person
    ##Since 2 files are of weird format ( 1 is image file converted into .pdf)
    try:
        person.append(name_person(tagged,words,res3))
    except:
        flag_success = 0
        person.append("No name detected")
        pass
    #tagged_list.append(tagged) 
    #flag_success = 1
    if flag_success == 1:
        education.append(extract_education(txt))
        graduation_year.append(extract_graduation_date(txt1))
        phone_nbr.append(extract_phone_number(txt))
        emails.append(extract_emails(txt))
    else:
        education.append("No education detected")
        graduation_year.append("No graduation_year detected")
        phone_nbr.append("No phone_nbr detected")
        emails.append("No emails detected")
        flag_success == 1
        
    if i+1 < len(files1):
        i+=1
        preprocessing(i, person)
    
    #len(person), len(education), len(graduation_year), len(phone_nbr), len(emails)#
    return pd.DataFrame({'name':person,'education':education, 'graduation_year':graduation_year, 'Contact':phone_nbr, 'email':emails})
from nltk.tag import pos_tag
def name_person(tagged, words,res3):
    #tagged_list = preprocessing(0,[],[])
    #print(tagged_list)
    person = []
    temp_person = []
    nltk_tagged = pos_tag(res3[:10])
    
    for k in range(10):
        if k<=9:
            if nltk_tagged[k][1] == 'NNP' and nltk_tagged[k+1][1] == 'NNP':
                nltk_name = nltk_tagged[k][0] +' '+ nltk_tagged[k+1][0] 
            return nltk_name
        print()
        if (res3[k].lower() in indian_last_names) or (res3[k].lower() in chinese_last_names):
            j = k-1
            return res3[j]+" " +res3[k]#+"(Extracted using 1st approach)"
    for tuple_ele in tagged:
        if "PERSON" in tuple_ele[1]:
            temp_person.append(tuple_ele[0])
    ## loop through the original words so we can extract from the first words and get the first PERSON
    for word in words:
        if word in temp_person:
            return word

def extract_education(txt):
    edu=set()
    p = re.compile('(EDUCATION)?\n?(.*?),\s+(.*?),(.*?)') 
    for m in re.finditer(p,txt):
        try:
            if any(x in m.group(1) for x in RESERVED_WORDS):
                edu.append(m.group(1))
        except:
            pass
        for word in RESERVED_WORDS:
            if word in m.group(2):
                edu.add(m.group(2))
    return edu

def extract_graduation_date(txt1):
    dates=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
    #/^(?=^abc)(?=.*xyz$)(?=.*123)(?=^(?:(?!456).)*$).*$/
    # Working to extract Months :x="(?=("+'|'.join(dates)+r"))"
    x="(?is)education.*?(\d{4})"
    # Working to extract year after education: x="(?is)education.*?(\d{4})"
    if len(re.findall(x,txt1))==0:
        return None
    return max(re.findall(x,txt1))
    ## for dates
    #for dt in dates:
    #    if dt in txt:
    #        return dt

def extract_phone_number(txt):
    PHONE_REG = re.compile(r'[\+\(]?[1-9][0-9 .\-\(\)]{8,}[0-9]')
    phone = re.findall(PHONE_REG, txt)

    if phone:
        number = ''.join(phone[0])

        if txt.find(number) >= 0 and len(number) < 16:
            return number
    return None


def extract_emails(txt):
    EMAIL_REG = re.compile(r'[a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+')
    return re.findall(EMAIL_REG, txt)

StanfordNER = preprocessing()
StanfordNER.head(10)

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10
Iteration 11
Iteration 12
Iteration 13
Iteration 14
Iteration 15
Iteration 16
Iteration 17
Iteration 18
Iteration 19
Iteration 20
Iteration 21
Iteration 22
Iteration 23
Iteration 24
Iteration 25
Iteration 26
Iteration 27
Iteration 28
Iteration 29
Iteration 30
Iteration 31
Iteration 32
Iteration 33
Iteration 34
Iteration 35
Iteration 36
Iteration 37
Iteration 38
Iteration 39
Iteration 40
Iteration 41
Iteration 42
Iteration 43
Iteration 44
Iteration 45
Iteration 46
Iteration 47
Iteration 48
Iteration 49
Iteration 50
Iteration 51
Iteration 52
Iteration 53
Iteration 54
Iteration 55
Iteration 56
Iteration 57
Iteration 58
Iteration 59
Iteration 60
Iteration 61
Iteration 62
Iteration 63
Iteration 64
Iteration 65
Iteration 66
Iteration 67
Iteration 68
Iteration 69
Iteration 70
Iteration 71
Iteration 72
Iteration 73
Iteration 74
Iteration 75
Iteration 76
Iteration 77
Iteration 78
Iteration 79
Iteration 80
Iteration 81
Iteration 82
Iteration 83
Iteration 84
Iteration 86
Iteration 87
Iteration 88
Iteration 89
Iteration 90
Iteration 91
Iteration 92
Iteration 93
Iteration 94
Iteration 95
Iteration 96
Iteration 97
Iteration 98
Iteration 99
Iteration 100
Iteration 101
Iteration 102
Iteration 103
Iteration 104
Iteration 105
Iteration 106
Iteration 107
Iteration 108
Iteration 109
Iteration 110
Iteration 111
Iteration 112
Iteration 113
Iteration 114
Iteration 115
Iteration 116
Iteration 117
Iteration 118
Iteration 119
Iteration 120
Iteration 121
Iteration 122
Iteration 123
Iteration 124
Iteration 125
Iteration 126
Iteration 127
Iteration 128
Iteration 129
Iteration 130
Iteration 131
Iteration 132
Iteration 133
Iteration 134
Iteration 135
Iteration 137
Iteration 138
Iteration 139
Iteration 140
Iteration 141
Iteration 142
Iteration 143
Iteration 144
Iteration 145
Iteration 146
Iteration 147
Iteration 148
Iteration 149
Iteration 150
Iteration 151
Iteration 152
Iteration 153
Iteration 154
Iteration 155
Iteration 156
Iteration 157
Iteration 158
Iteration 159
Iteration 160
Iteration 161
Iteration 162
Iteration 163
Iteration 164
Iteration 165
Iteration 166
Iteration 167
Iteration 168
Iteration 169
Iteration 170
Iteration 171
Iteration 172
Iteration 173
Iteration 174
Iteration 175
Iteration 176
Iteration 177
Iteration 178
Iteration 179
Iteration 180
Iteration 181
Iteration 182

,name,education,graduation_year,Contact,email
0,Karthik Ramanarayana,{University of Maryland},2021,(410)-292-1151,[karthikr2194@gmail.com]
1,HARSH PUNDIR,{},2020,None,[hpundir@umd.edu]
2,TIRTH PATEL,"{The University of Texas at Dallas, Nirma Univ...",2021,469-370-9437,[tirth2410@gmail.com]
3,Akanksha Bapna,{},2021,None,[]
4,Mythri Partha,{University of Houston},2015,(281) 725-7080,[mythripartha8@gmail.com]
5,Qizhe Wang,{},2020,None,[ziyaotingyu@gmail.com]
6,RACHAN VAMSI,{},2021,(475) 685 0166,[rachan_vamsi.bhooshi@uconn.edu]
7,RAGHUVEERA KARTHIK,{},2021,240-713-8296,[rmadireddy1@student.gsu.edu]
8,SAIDA MUKTAR,{},2021,443-833-6344,[saidam1@umbc.edu]
9,Allentown PA,{},2020,+1 4845387112,[adp178@scarletmail.rutgers.edu]

In [27]:
StanfordNER.head(10)

,name,education,graduation_year,Contact,email
0,KarthikRamanarayana,{University of Maryland},2021,(410)-292-1151,[karthikr2194@gmail.com]
1,HARSHPUNDIR,{},2020,None,[hpundir@umd.edu]
2,TIRTHPATEL,"{The University of Texas at Dallas, Nirma Univ...",2021,469-370-9437,[tirth2410@gmail.com]
3,AkankshaBapna,{},2021,None,[]
4,MythriPartha,{University of Houston},2015,(281) 725-7080,[mythripartha8@gmail.com]
5,QizheWang,{},2020,None,[ziyaotingyu@gmail.com]
6,RACHANVAMSI,{},2021,(475) 685 0166,[rachan_vamsi.bhooshi@uconn.edu]
7,RAGHUVEERAKARTHIK,{},2021,240-713-8296,[rmadireddy1@student.gsu.edu]
8,SAIDAMUKTAR,{},2021,443-833-6344,[saidam1@umbc.edu]
9,AllentownPA,{},2020,+1 4845387112,[adp178@scarletmail.rutgers.edu]

In [19]:
print(len(StanfordNER),len(ground_truth))

NameError: name 'ground_truth' is not defined

In [29]:
import csv

with open('Data\ground_truth.csv',encoding = 'latin1') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        print(row)

FileNotFoundError: [Errno 2] No such file or directory: 'Data\\ground_truth.csv'

In [20]:
import re
ground_truth = pd.read_csv(r"C:\Users\rtd91\Data\resume_samples\output data\ground_truth.csv", encoding = 'latin1')
# ground_truth = ground_truth.drop("Unnamed: 0",axis=1)
# ground_truth["graduation_year"] = ground_truth["graduation_year"].fillna(-1).astype(int)
"""def parse_email(email_str):
    email = re.findall(r'[\w.+-]+@[\w-]+\.[\w.-]+', email_str)
    if len(email)>0:
        return email[0]
    else:
        return ''


ground_truth['email'] = ground_truth['email'].apply(lambda x: parse_email(x))
ground_truth.head()"""

"def parse_email(email_str):\n    email = re.findall(r'[\\w.+-]+@[\\w-]+\\.[\\w.-]+', email_str)\n    if len(email)>0:\n        return email[0]\n    else:\n        return ''\n\n\nground_truth['email'] = ground_truth['email'].apply(lambda x: parse_email(x))\nground_truth.head()"

In [88]:
pyres_df

,name,email,mobile_number,skills,college_name,degree,designation,experience,company_names,no_of_pages,total_experience,text
0,Karthik Ramanarayana,karthikr2194@gmail.com,292-1151,"[Communication, Hbase, Statistics, Matrix, Tab...",None,,None,"[Data Intern, Index Analytics LLC, Baltimore, MD]",None,1,0.00,"Karthik Ramanarayana \n2001 Eastern Avenue, Ba..."
1,HARSH PUNDIR,hpundir@umd.edu,240.423.5453,"[Algorithms, Six sigma, Tableau, Big data, Pay...",None,Master of Science in Business Analytics,None,"[SMSA ( VP, Operations), ■ Help with the pla...",None,1,0.00,"HARSH PUNDIR \n3425 Tulane Dr. Hyattsville,..."
2,TX Master,tirth2410@gmail.com,469-370-9437,"[Statistics, Algorithms, Tableau, Statistical ...",None,,None,"[Web Analyst, The University of Texas at Dalla...",None,1,2.83,"TIRTH PATEL \nHolbrook, NY | tirth2410@gmail.c..."
3,Akanksha Bapna,None,None,"[Retail, Health, Strategy, Ibm, Budget, Tablea...",None,"Bachelors in Technology, Chemical Engineering",None,"[The Editorial Board, Head of Logistics, Oct 2...",None,2,3.92,Akanksha Bapna\nabapna.com ● Email ● Personal ...
4,Mythri Partha,mythripartha8@gmail.com,725-7080,"[Health, Numpy, Email, Access, Pandas, Enginee...",None,,None,"[InventXYZ, Data Engineering Intern, Aug. 2015...",None,1,0.75,"Mythri Partha \nHouston, TX | Phone: (281) 725..."
...,...,...,...,...,...,...,...,...,...,...,...,...
177,Columbia University,yd2578@columbia.edu·(319),512-0421,"[Sqlalchemy, Ibm, Workflow, Tableau, P, Nosql,...",None,M.S. in Computer and Information Science,None,[Streaming Data Retrieval System ...,None,1,0.00,yd2578@columbia.edu·(319) 512-0421·www.zoedong...
178,Jersey City,zzhan67@stevens.edu,531-8942,"[Communication, Algorithms, Statistics, Tablea...",None,,None,"[Utegration LLC, Houston, TX, Data Analytics I...",None,1,0.00,"Jersey City, NJ ..."
179,Columbia University,zz2751@columbia.edu,763-4795,"[Health, Statistics, Data analytics, Tableau, ...",None,"Bachelor of Arts, Mathematics (Statistics), Ec...",None,[Project on Covid Social Media Data ...,None,1,0.75,Zhuohan Zhang \n (617) 763-4795 | zz2751@colum...
180,Zixiao Huang,zixiao.huang.74@gmail.com,615-977-2160,"[Algorithms, Statistics, Tableau, Startup, Big...",None,Master of Science in Analytics,None,"[Stealth Mode Startup, Deep Learning Innovatio...",None,1,1.25,Zixiao Huang \n\nzixiao.huang.74@gmail.com | 6...
181,Stream Bank,zwang160@terpmail.umd.edu,216-6448,"[Communication, Strategy, Statistics, Tableau,...",None,,[Investment Manager Assistant],"[FRM designation. CFA level one exam passed., ...",None,1,0.00,Ziyong “Willis” Wang \n(667) 216-6448 ● 5504 S...

In [4]:
StanfordNER['name'][:5]

0     Karthik
1      Robert
2       TIRTH
3    Akanksha
4      Mythri
Name: name, dtype: object

In [32]:
len(StanfordNER)

153

['Jose',
 'David',
 'Michael',
 'John',
 'Juan',
 'Carlos',
 'Luis',
 'Chris',
 'Alex',
 'Daniel']

In [21]:
ground_truth_tail = ground_truth
# !pip install fuzzywuzzy
# !pip install python-Levenshtein
from fuzzywuzzy import fuzz
def metrics(parse_col,ground_truth_col):
    tp = 0
    fp = 0
    tn = 0
    fn = 0
    list1 = ground_truth_col.to_list()
    list2 = parse_col.to_list()

    
    for i in range(len(list1)):
#         print(fuzz.ratio(str.lower(list2[i]), list1[i]))
        if list2[i]==None:
            fp+=1
            continue
        try:
           
            if fuzz.ratio(str.lower(list2[i]), str.lower(list1[i]))>30:
                print(list1[i],list2[i])
                tp+=1
            else:
                print(f'NO MATCH {list1[i]}, {list2[i]}. Score = {fuzz.ratio(str.lower(list2[i]), list1[i])}')
                fp+=1
        except:
            
            fp+=1
    print(i)
    i+=1
    return tp,fp

metric_list = []
StanfordNER["mobile"] = 0
StanfordNER["degree"] = ""
### Scoring for pyres parser
name = metrics(StanfordNER['name'],ground_truth_tail['name'])
# email = metrics(StanfordNER['email'],ground_truth_tail['email'])
# mobile = metrics(StanfordNER['Contact'],ground_truth_tail['Contact'])
# university = metrics(StanfordNER['education'],ground_truth_tail['education'])
# degree = metrics(StanfordNER['degree'],ground_truth_tail['Major'])

# metric_list.append({'name':name,'email':email,'mobile':mobile,'university':university,'degree':degree})
name
#print(name,email,mobile,university,degree)

Karthik Ramanarayana Karthik Ramanarayana
HARSH PUNDIR HARSH PUNDIR
TIRTH PATEL TIRTH PATEL
Akanksha Bapna Akanksha Bapna
Mythri Partha Mythri Partha
Qizhe Wang Qizhe Wang
RACHAN BHOOSHI RACHAN VAMSI
RAGHUVEERA MADIREDDY RAGHUVEERA KARTHIK
SAIDA MUKTAR SAIDA MUKTAR
Akash Patel Allentown PA
AKSHARA ARCOT AKSHARA ARCOT
Alexandra Manetas Alexandra Manetas
NO MATCH Pranav Gulghane, No name detected. Score = 19
NO MATCH Wanting Lu, No name detected. Score = 15
NO MATCH Manaswini Nagaraj, No name detected. Score = 18
MOHIT MANJARIA MOHIT MANJARIA
Yuchen Xie Yuchen Xie
NO MATCH Dimple Mehra, No name detected. Score = 29
Indupriya Kompi Indupriya Kompi
James Domingo James Renier
ANYA PATEL ANYA PATEL
Ryan Goodwin Ryan Martin
Mayank Dubey Mayank Dubey
ABHINAY NAGULAPALLI ABHINAY NAGULAPALLI
Noah Mattheis Noah Mattheis
Abhilash Rajaram Abhilash Rajaram
Adam Dinser Adam Dinser
NO MATCH ADEOLA ADESOBA, No name detected. Score = 7
AJAY MANOHARAN AJAY PRASATH
Akshay Kajale Akshay Kajale
Alexander Friend ALEXANDER FRIEND
Amar Jha Amar Nath
Amol Agrawal Amol Agrawal
Andrew Lin Andrew Yuchen
ANIRUDH SURAM ANIRUDH REDDY
ANNAPOORNA GOPALAKRISHNA ANNAPOORNA M
Antton Wilbanks Antton Wilbanks
ANYA PATEL ANYA PATEL
Archit Prem Archit Prem
Ashvi Soni Washington DC
BAIYU CHEN BAIYU CHEN
BHAVIKA CHAVDA BHAVIKA CHAVDA
BOKYEUNG KIM BOKYEUNG KIM
BON TRINH B O
Buka Cakrawala Buka Cakrawala
Andrew Decker Andrew Decker
NO MATCH C:\Users\rtd91\Data\resume_samples\C01-21120201_Jiayue_Fei.pdf, No name detected. Score = 10
NO MATCH Cahyarini (Crystal) Hariga, Vienna VA. Score = 29
Carlos Perez Carlos Perez
Cassin Edwin Cassin Thangam
CHENGWEI CHEN CHENGWEI CHEN
CHETNA KHANNA CHETNA KHANNA
Dhruv Parikh Dhruv Parikh
Dhwani Gandhi Dhwani Gandhi
NO MATCH Dimple Mehra, No name detected. Score = 29
Divya Manku Divya Reddy
Elijah Hall Elijah James
Evan JONES EVAN W
EVAN JOYCE EVAN M
Gali Sabyr Gali Sabyr
GRISHMA PARAJULI EDUCATION GRISHMA
Hamza Abdelghani Hamza Abdelghani
Indupriya Kompi Indupriya Kompi
Jairo Carreon Jairo Carreon
James Domingo James Renier
NO MATCH Stellar(Jialu) Xia, Sep . Score = 18
NO MATCH Jianbo Gu, No name detected. Score = 24
Jiehong Liu Jiehong Liu
NO MATCH Jim Liu, No name detected. Score = 9
NO MATCH JULIA XIA, No name detected. Score = 8
KRISTIN CHEN  KRISTIN JIATING
KUNJ MITHAPARA KUNJ MITHAPARA
NO MATCH Lejian He, No name detected. Score = 24
NO MATCH Manaswini Nagaraj, No name detected. Score = 18
Manisha Patel Manisha Patel
MASEN BACHLEDA MASEN BACHLEDA
Matthew Holcombe Matthew Holcombe
MAYURI LALWANI MAYURI LALWANI
Mikhail Tokarev Mikhail Tokarev
Mistere Abate No name detected
NO MATCH Mohammad Zarei, San Diego. Score = 26
Mona Eslamijam Mona Eslamijam
NO MATCH Nahian Siddique, No name detected. Score = 19
NIDHI CHOVATIYA NIDHI CHOVATIYA
NIKSON PANIGRAHI NIKSON PANIGRAHI
NO MATCH PRATIK SATPUTE, C:\Users\rtd91\Data\resume_samples\output data. Score = 3
PRAVEEN PANDEY PRATIK SATPUTE
NO MATCH Adedamola Olawoye, PRAVEEN PANDEY. Score = 19
Aditya Deshpande Adedamola
Ali Majidian Aditya Deshpande
ANKIT LADE No name detected
Anqi Cheng ANKIT HEMANT
Arbaaz Mohideen Anqi Cheng
NO MATCH Arunava Ray, Greensboro NC. Score = 25
NO MATCH ASHUTOSH SHINDE, Arunava Ray. Score = 8
BAH KONAN ASHUTOSH SHINDE
Bala Harimani BAH YANNICK
NO MATCH BONFACE NJUGUNA, Bala Harimani. Score = 7
Chaeeun Lim BONFACE NJUGUNA
Chantelle Lim Chaeeun
CHITRANJAN JOSHI Chantelle Lim
NO MATCH Diego Burgos, CHITRANJAN JOSHI. Score = 29
ETHAN LAURENCEAU No name detected
NO MATCH GIRIJA BANDARU, ETHAN LAURENCEAU. Score = 7
Harshitha Prasad GIRIJA BANDARU
HARSH PUNDIR Harshitha Prasad
Hemanth Kodakandla HARSH PUNDIR
NO MATCH Isioma Ochia, Hemanth Reddy. Score = 24
NO MATCH JAY PANDYA, Isioma . Score = 12
NO MATCH Jessica Rega, No name detected. Score = 14
Jishan Ahmed No name detected
KALEB SHIKUR KALEB SHIKUR
Kanth Juvadi Kanth Juvadi
NO MATCH Katherine Pearson, No name detected. Score = 24
KRUTI ALLENKI KRUTI GUPTA
Kunjan Khatri Kunjan Devendra
LEONEL FLORES L E
MAAZ SHAIKH  MAAZ ZAHID
Naina Grover  Naina Grover
Nasir Sarkar Nasir U
Nate Tsegaw Nate Tsegaw
Navina Sethi  Navina Kaur
Rakshit Sinha  Rakshit Sinha
REETIKA CHATURVEDI  No name detected
Rishitha Muddana  Rishitha Muddana
Rohin Bhagavatula  Rohin Bhagavatula
SAIDA MUKTAR  SAIDA MUKTAR
NO MATCH Saivalini Durvasula , No name detected. Score = 22
Sai Malempati Sai Sri
NO MATCH Sanat Lal, No name detected. Score = 24
Saumil Jariwala  Saumil Sudhir
Shalin Shanghavi  Saumil Sudhir
NO MATCH Siyu Tao, No name detected. Score = 8
SOBANAA JAYAKUMAR  Siyu Tao
NO MATCH Srishti Piplani , SOBANAA JAYAKUMAR. Score = 24
NO MATCH Srushti Shah, C:\Users\rtd91\Data\resume_samples\Resume_Srinath_Narayanan.pdf. Score = 13
NO MATCH Taegeun Ohe, Srushti Shah. Score = 17
NO MATCH TANISHK PARIHAR , No name detected. Score = 12
NO MATCH Tej Gottapu, TANISHK PARIHAR. Score = 23
Tezeswi Madarasu Tej Gottapu
TIA MOODY  Tezeswi Madarasu
NO MATCH VIJAYALAKSHMI GIRIJALA , TIA MOODY. Score = 6
NO MATCH WEI-CHEN, LU   , VIJAYALAKSHMI GIRIJALA. Score = 5
NO MATCH   Yann Tamraz, WEICHEN LU. Score = 17
YENI PEREZ Yann Tamraz
YING LU  YENI PEREZ
Yingkun Wang Yingkun Wang
NO MATCH Yutong Tang , No name detected. Score = 29
Richie Lahoti   Greenbelt MD
Ricky Lindsey Richie Lahoti
ROHITH MALLULA  Ricky Donnell
Ruoshi Zhao  ROHITH MALLULA
Rutvik Patel Ruoshi Zhao
NO MATCH Ryan Goodwin, Rutvik Patel. Score = 8
Sahana Halady  Ryan Martin
SAI KUMAR San Jose
Sam Song SAI KUMAR
NO MATCH Senthil Nathan, Sam Song. Score = 18
NO MATCH Sharmista Vemulapalli  , Senthil Nathan. Score = 11
Shian Chen  Sharmista Vemulapalli
NO MATCH Shreya Dharmarajan , Aug . Score = 17
SHWETANK ROKADE   EDUCATIONAL BACKGROUND
NO MATCH Steven Zhang , Location US. Score = 25
NO MATCH Sushant Patankar, Steven H. Score = 25
Tanvi Tembhurne No name detected
NO MATCH TZUYAO Lin, Tanvi Tembhurne. Score = 8
NO MATCH UDAY hiremath, TZUYAO LIN. Score = 9
NO MATCH Vanisa ACHAKULVISUT, UDAY M. Score = 16
NO MATCH VICTOR JOHNSON, JR, VANISA ACHAKULVISUT. Score = 5
Wenmo Sun No name detected
NO MATCH Xiaolan Li, Wenmo Sun. Score = 21
NO MATCH Yichi Qian, New York. Score = 11
Yichuan Hong Yichi Oliver
NO MATCH Yifan Liu, RELEVANT EXPERIENCEPROJECTS. Score = 22
NO MATCH Yiru Wen, No name detected. Score = 8
NO MATCH Yanhan Dong, No name detected. Score = 22
Zhengyang Zhang Yunhan Zoe
NO MATCH Zhuohan Zhang, Jersey City. Score = 8
Zixiao Huang Zhuohan Zhang
Ziyong Wang Zixiao Huang
181

C:\Users\rtd91\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

(125, 57)

In [42]:
name = metrics(StanfordNER['name'],ground_truth_tail['name'])
name

['Karthik Ramanarayana', 'HARSH PUNDIR', 'TIRTH PATEL', 'Akanksha Bapna', 'Mythri Partha', 'Qizhe Wang', 'RACHAN BHOOSHI', 'RAGHUVEERA MADIREDDY', 'SAIDA MUKTAR', 'Akash Patel', 'AKSHARA ARCOT', 'Alexandra Manetas', 'Pranav Gulghane', 'Wanting Lu', 'Manaswini Nagaraj', 'MOHIT MANJARIA', 'Yuchen Xie', 'Dimple Mehra', 'Indupriya Kompi', 'James Domingo', 'ANYA PATEL', 'Ryan Goodwin', 'Mayank Dubey', 'ABHINAY NAGULAPALLI', 'Noah Mattheis', 'Abhilash Rajaram', 'Adam Dinser', 'ADEOLA ADESOBA', 'AJAY MANOHARAN', 'Akshay Kajale', 'Alexander Friend', 'Amar Jha', 'Amol Agrawal', 'Andrew Lin', 'ANIRUDH SURAM', 'ANNAPOORNA GOPALAKRISHNA', 'Antton Wilbanks', 'ANYA PATEL', 'Archit Prem', 'Ashvi Soni', 'BAIYU CHEN', 'BHAVIKA CHAVDA', 'BOKYEUNG KIM', 'BON TRINH', 'Buka Cakrawala', 'Andrew Decker', 'C:\\Users\\rtd91\\Data\\resume_samples\\C01-21120201_Jiayue_Fei.pdf', 'Cahyarini (Crystal) Hariga', 'Carlos Perez', 'Cassin Edwin', 'CHENGWEI CHEN', 'CHETNA KHANNA', 'Dhruv Parikh', 'Dhwani Gandhi', 'Dimple Mehra', 'Divya Manku', 'Elijah Hall', 'Evan JONES', 'EVAN JOYCE', 'Gali Sabyr', 'GRISHMA PARAJULI', 'Hamza Abdelghani', 'Indupriya Kompi', 'Jairo Carreon', 'James Domingo', 'Stellar(Jialu) Xia', 'Jianbo Gu', 'Jiehong Liu', 'Jim Liu', 'JULIA XIA', 'KRISTIN CHEN ', 'KUNJ MITHAPARA', 'Lejian He', 'Manaswini Nagaraj', 'Manisha Patel', 'MASEN BACHLEDA', 'Matthew Holcombe', 'MAYURI LALWANI', 'Mikhail Tokarev', 'Mistere Abate', 'Mohammad Zarei', 'Mona Eslamijam', 'Nahian Siddique', 'NIDHI CHOVATIYA', 'NIKSON PANIGRAHI', 'PRATIK SATPUTE', 'PRAVEEN PANDEY', 'Adedamola Olawoye', 'Aditya Deshpande', 'Ali Majidian', 'ANKIT LADE', 'Anqi Cheng', 'Arbaaz Mohideen', 'Arunava Ray', 'ASHUTOSH SHINDE', 'BAH KONAN', 'Bala Harimani', 'BONFACE NJUGUNA', 'Chaeeun Lim', 'Chantelle Lim', 'CHITRANJAN JOSHI', 'Diego Burgos', 'ETHAN LAURENCEAU', 'GIRIJA BANDARU', 'Harshitha Prasad', 'HARSH PUNDIR', 'Hemanth Kodakandla', 'Isioma Ochia', 'JAY PANDYA', 'Jessica Rega', 'Jishan Ahmed', nan, 'KALEB SHIKUR', 'Kanth Juvadi', 'Katherine Pearson', 'KRUTI ALLENKI', 'Kunjan Khatri', 'LEONEL FLORES', 'MAAZ SHAIKH ', 'Naina Grover ', 'Nasir Sarkar', 'Nate Tsegaw', 'Navina Sethi ', 'Rakshit Sinha ', 'REETIKA CHATURVEDI ', 'Rishitha Muddana ', 'Rohin Bhagavatula ', 'SAIDA MUKTAR ', 'Saivalini Durvasula ', 'Sai Malempati', 'Sanat Lal', 'Saumil Jariwala ', 'Shalin Shanghavi ', 'Siyu Tao', 'SOBANAA JAYAKUMAR ', 'Srishti Piplani ', 'Srushti Shah', nan, 'Taegeun Ohe', 'TANISHK PARIHAR ', 'Tej Gottapu', 'Tezeswi Madarasu', 'TIA MOODY ', 'VIJAYALAKSHMI GIRIJALA ', 'WEI-CHEN, LU   ', '  Yann Tamraz', 'YENI PEREZ', 'YING LU ', 'Yingkun Wang', 'Yutong Tang ', 'Richie Lahoti  ', 'Ricky Lindsey', 'ROHITH MALLULA ', 'Ruoshi Zhao ', 'Rutvik Patel', 'Ryan Goodwin', 'Sahana Halady ', 'SAI KUMAR', 'Sam Song', 'Senthil Nathan', 'Sharmista Vemulapalli  ', 'Shian Chen ', 'Shreya Dharmarajan ', 'SHWETANK ROKADE  ', 'Steven Zhang ', 'Sushant Patankar', 'Tanvi Tembhurne', 'TZUYAO Lin', 'UDAY hiremath', 'Vanisa ACHAKULVISUT', 'VICTOR JOHNSON, JR', 'Wenmo Sun', 'Xiaolan Li', 'Yichi Qian', 'Yichuan Hong', 'Yifan Liu', 'Yiru Wen', 'Yanhan Dong', 'Zhengyang Zhang', 'Zhuohan Zhang', 'Zixiao Huang', 'Ziyong Wang'] ['Karthik', 'Robert', 'TIRTH', 'Akanksha', 'Mythri', 'Qizhe', 'Python', 'Python', None, 'Akash', 'Sharpe', 'Alexandra', 'Python', 'Wanting', 'Boston', 'Boston', 'Yuchen', 'JOHNSON', 'Indupriya', 'James', 'ANYA', 'Ryan', 'Mayank', None, 'Noah', 'Python', 'Adam', 'Python', 'Jira', 'Akshay', 'Python', 'Nath', 'Amol', 'Yuchen', 'ANIRUDH', 'Middough', 'Antton', 'ANYA', None, 'Django', 'BAIYU', 'Priyanka', 'Dunbar', 'Python', 'Swift', 'Andrew', 'Python', 'Carlos', 'Cassin', 'CHENGWEI', 'CHETNA', 'Mario', 'Dhwani', 'JOHNSON', 'Divya', 'Elijah', 'Evan', 'EVAN', 'Gali', 'Caldwell', 'Hamza', 'Indupriya', 'Jairo', 'James', 'Hong', 'Jianbo', 'Jiehong', 'Jim', None, 'JIATING', 'Python', 'Lejian', 'Boston', 'Manisha', 'MASEN', 'Matthew', 'Bayes', 'Mikhail', 'Pepys', 'Kaplan', 'Mona', 'Siddique', None, 'Boston', 'C:\\Users\\rtd91\\Data\\resume_samples\\output data', None, 'PRAVEEN', None, 'Aditya', 'Ali', 'Django', 'Anqi', None, 'Arunava', 'Python', 'Paul', 'Bala', None, 'Chaeeun', 'Chantelle', 'CHITRANJAN', 'P', 'ETHAN', 'Python', 'Harshitha', 'Robert', 'Hemanth', None, 'Vidyavardhini', None, 'Ahmed', 'Kaleb', 'Maria', 'Katherine', 'KRUTI', 'Devendra', 'Python', 'Bayes', 'Naina', 'Nasir', None, 'Navina', 'Rakshit', 'Jayshree', 'Rishitha', 'Rohin', None, 'Monte', 'Hadoop', 'Python', 'Tesla', 'Tesla', None, 'Siyu', None, 'C:\\Users\\rtd91\\Data\\resume_samples\\Resume_Srinath_Narayanan.pdf', 'Python', 'Srushti', 'Python', 'Python', 'Tableau', 'Tezeswi', 'Python', 'Python', 'WEICHEN', 'Yann', 'Glen', 'Yingkun', 'YING', 'Yutong', 'Richie', 'Ricky', 'Boston', 'Ruoshi', 'Rutvik', 'Ryan', 'Sahana', 'SAI', 'Sam', 'Senthil', 'Sharmista', 'Shian', 'Shreya', None, 'H', 'Sushant', 'Boston', 'TZUYAO', 'UDAY', None, 'VICTOR', 'Wenmo', 'Python', 'Oliver', 'Python', None, 'Yiru', 'Zoe', 'Zhengyang', 'Zhuohan', 'Zixiao', '']

(0, 182)

In [16]:
ground_truth_tail = ground_truth
from fuzzywuzzy import fuzz
def metrics(parse_col,ground_truth_col):
    tp = 0
    fp = 0
    tn = 0
    fn = 0
    list1 = ground_truth_col.to_list()
    list2 = parse_col.to_list()
    print(list1,list2)
    for i in range(len(list1)):
        if list2[i]==None:
            fp+=1
            continue
        try:
            if fuzz.ratio(list2[i],list1[i])>50:
                tp+=1
            else:
                
                fp+=1
        except:
            fp+=1
    return tp,fp

metric_list = []

### Scoring for pyres parser

name = metrics(pyres_df['name'],ground_truth_tail['name'])
# email = metrics(pyres_df['email'],ground_truth_tail['email'])
# mobile = metrics(pyres_df['mobile_number'],ground_truth_tail['Contact'])
# university = metrics(pyres_df['college_name'],ground_truth_tail['education'])
# degree = metrics(pyres_df['degree'],ground_truth_tail['Major'])

# metric_list.append({'name':name,'email':email,'mobile':mobile,'university':university,'degree':degree})

# print(name,email,mobile,university,degree)
name

NameError: name 'pyres_df' is not defined

In [32]:
name = metrics(resume_df['name'],ground_truth_tail['name'])
email = metrics(resume_df['email'],ground_truth_tail['email'])
mobile = metrics(resume_df['phone'],ground_truth_tail['Contact'])
university = metrics(resume_df['university'],ground_truth_tail['education'])
degree = metrics(pyres_df['degree'],ground_truth_tail['Major'])

metric_list.append({'name':name,'email':email,'mobile':mobile,'university':university,'degree':degree})


print(name,email,mobile,university,degree)

NameError: name 'resume_df' is not defined

In [33]:
pd.DataFrame(metric_list,index=['pyres_model','resumeparser_model'])

                        name     email    mobile university    degree
pyres_model         (0, 182)  (0, 182)  (87, 95)   (0, 182)  (0, 182)
resumeparser_model  (0, 182)  (0, 182)  (87, 95)   (0, 182)  (0, 182)

In [34]:
pd.DataFrame(metric_list,index=['stanford_model'])

                    name     email    mobile university    degree
stanford_model  (0, 182)  (0, 182)  (87, 95)   (0, 182)  (0, 182)

In [ ]:
#### Things to work on 
## 1. Resume Parser extracts many universities & stores them in a list. But I only took the 1st item in list to compare against groundtruth
## 2. Raj's NER model needs to be compiled & scored
## 3. Degree scoring evaluation should be a fuzzy match
## 4. Univeristy scoring evaluation should be a fuzzy match 
## 5. Need to work on extracting Degree like.. M.S , PhD..etc 
## 6. Both resume parser model & pyres_model has functionalities to extract the technical skills 
## 7. Can work on feature to extract years of experiance aswell.

In [ ]:
## 2 Questions
1. Will this be used in the front-end(candidate facing) to facilitate their ease of application process? or Is it going to be used by us to shortlist?