In [26]:
#import libraries
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [21]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\AishwaryaBhangale\AppData\Roaming\nltk_data..
[nltk_data]     .
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [44]:
%%time
tweets_complete = pd.read_table('conv.txt',sep=',')

Wall time: 3.03 ms

In [45]:
tweets_complete[0:2]

,text_x,text_y
0,@sprintcare is the worst customer service,@115712 Hello! We never like our customers to ...
1,@sprintcare is the worst customer service,@115712 I would love the chance to review the ...

## Data Preprocessing

In [46]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [67]:
tweets = tweets_complete.head()
tweets

,text_x,text_y
0,@sprintcare is the worst customer service,@115712 Hello! We never like our customers to ...
1,@sprintcare is the worst customer service,@115712 I would love the chance to review the ...
2,@sprintcare is the worst customer service,@115712 Can you please send us a private messa...
3,@115714 y’all lie about your “great” connectio...,@115713 H there! We'd definitely like to work ...
4,"@115714 whenever I contact customer support, t...",@115715 Please send me a private message so th...

In [68]:


stop_words = set(stopwords.words('english'))
#define special characters list
special_characters = ['!','#','$','%', '&','@','[',']',' ',']','_']

tweets['text_x_clean'] = ""
tweets['text_y_clean'] = ""

for i in range(len(tweets)):

    #################################################################################################################
    #To Do :
    #Lower casing
    #Removal of Punctuation
    #Conversion of Emojis to Text
    #Removal of URL and HTML Tags
    
    
    tweets['text_x_clean'][i] = tweets['text_x'][i]
    
    #Special Character Replacement
    for j in range(len(special_characters)):
        tweets['text_x_clean'][i] = tweets['text_x_clean'][i].replace(special_characters[j],' ')
    
    #Lemmatization
    wordnet_lemmatizer = WordNetLemmatizer()
    text = tweets['text_x_clean'][i]
    lemma_text = nltk.word_tokenize(text)
    tweets['text_x_clean'][i] = " ".join(lemma_text)
    print(tweets['text_x_clean'][i])
    
    #Removing Stop Words
    word_tokens = word_tokenize(tweets['text_x_clean'][i])
    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
    filtered_sentence = []
    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence.append(w)
    tweets['text_x_clean'][i] = filtered_sentence
    print(tweets['text_x_clean'][i])

    #################################################################################################################
    
    tweets['text_y_clean'][i] = tweets['text_y'][i]
    
    #Special Character Replacement
    for j in range(len(special_characters)):
        tweets['text_y_clean'][i] = tweets['text_y_clean'][i].replace(special_characters[j],' ')
    
    #Lemmatization
    wordnet_lemmatizer = WordNetLemmatizer()
    text = tweets['text_y_clean'][i]
    lemma_text = nltk.word_tokenize(text)
    tweets['text_y_clean'][i] = " ".join(lemma_text)
    
    
    #Removing Stop Words
    word_tokens = word_tokenize(tweets['text_y_clean'][i])
    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
    filtered_sentence = []
    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence.append(w)
    tweets['text_y_clean'][i] = filtered_sentence

    #################################################################################################################

sprintcare is the worst customer service
['sprintcare', 'worst', 'customer', 'service']
sprintcare is the worst customer service
['sprintcare', 'worst', 'customer', 'service']
sprintcare is the worst customer service
['sprintcare', 'worst', 'customer', 'service']
115714 y ’ all lie about your “ great ” connection . 5 bars LTE , still won ’ t load something . Smh .
['115714', '’', 'lie', '“', 'great', '”', 'connection', '.', '5', 'bars', 'LTE', ',', 'still', '’', 'load', 'something', '.', 'Smh', '.']
115714 whenever I contact customer support , they tell me I have shortcode enabled on my account , but I have never in the 4 years I 've tried https : //t.co/0G98RtNxPK
['115714', 'whenever', 'I', 'contact', 'customer', 'support', ',', 'tell', 'I', 'shortcode', 'enabled', 'account', ',', 'I', 'never', '4', 'years', 'I', "'ve", 'tried', 'https', ':', '//t.co/0G98RtNxPK']

<ipython-input-68-943d82b8d0d6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets['text_x_clean'] = ""
<ipython-input-68-943d82b8d0d6>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets['text_y_clean'] = ""
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [43]:
tweets.head()

,text_x,text_y,text_x_clean,text_y_clean
0,@sprintcare is the worst customer service,@115712 Hello! We never like our customers to ...,"[@, sprintcare, worst, customer, service]","[@, 1, 1, 5, 7, 1, 2, H, e, l, l, !, W, e, n, ..."
1,@sprintcare is the worst customer service,@115712 I would love the chance to review the ...,"[@, sprintcare, worst, customer, service]","[@, 1, 1, 5, 7, 1, 2, I, w, u, l, l, v, e, h, ..."
2,@sprintcare is the worst customer service,@115712 Can you please send us a private messa...,"[@, sprintcare, worst, customer, service]","[@, 1, 1, 5, 7, 1, 2, C, n, u, p, l, e, e, e, ..."
3,@115714 y’all lie about your “great” connectio...,@115713 H there! We'd definitely like to work ...,"[@, 115714, ’, lie, “, great, ”, connection, ....","[@, 1, 1, 5, 7, 1, 3, H, h, e, r, e, !, W, e, ..."
4,"@115714 whenever I contact customer support, t...",@115715 Please send me a private message so th...,"[@, 115714, whenever, I, contact, customer, su...","[@, 1, 1, 5, 7, 1, 5, P, l, e, e, e, n, e, p, ..."